$block-color: gray;
$battle-field-border-color: rgb(17, 17, 106);
$battle-field-border-color-hover: rgb(99, 99, 213);
$battle-field-enemy-color-hover: rgb(172, 220, 177);
$ship-size: 30px;
$main-font-size:14px;
$font-family: sans-serif;