.ship{
  border: 1px solid gray;
  cursor: pointer;

  &-1{
    height: $ship-size;
    width: $ship-size;
  }

  &-2 {
    width: $ship-size * 2;
    height: $ship-size;
  }

  &-2.ship_is-vertical {
    width: $ship-size;
    height: $ship-size * 2;
  }

  &-3 {
    width: $ship-size * 3;
    height: $ship-size;
  }

  &-3.ship_is-vertical {
    height: $ship-size * 3;
    width: $ship-size;
  }

  &-4 {
    width: $ship-size * 4;
    height: $ship-size;
  }

  &-4.ship_is-vertical{
    height: $ship-size * 4;
    width: $ship-size;
  }

}