extends ../layouts/default

block variables
  - const title = 'Морской бой'

block content
  h1=title
  .sea-battle__scene
    include ../../components/ship-field/ship-field.pug
    include ../../components/battle-field/battle-field.pug
    +battle-field({isEnemy: true})
