.sea-battle {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

  &__subtitle{
    font-size: 24px;
    text-align: center;
  }

  &__scene{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px;
    flex: 1 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}