.battle-field {
  max-width: 320px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 325px;
    width: 100%;
    height: 20px;
    padding: 0 10px 0 30px;
    user-select: none;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    margin: 8px 5px 8px 0;
    justify-content: space-between;
    align-items: flex-end;
    user-select: none;
  }

  &__game {
    max-width: 300px;
    width: 100%;
    height: 300px;
    border: 1px solid $battle-field-border-color;
    display: flex;
    flex-direction: column;

    .battle-field__row {
      display: flex;
      flex-direction: row;
    }
  
  }

  &__cell{
    width: $ship-size;
    height: $ship-size;
    border: 1px solid $battle-field-border-color;
    flex: 1 0 $ship-size;
  }

  &__cell.active {
    background-color: yellow;
  }

  &__cell.battle-field_enemy {
    cursor: pointer;
  }

  &__cell.battle-field_enemy:hover {
    background-color: $battle-field-enemy-color-hover;
  }

  &__cell.battle-field_hitted {
    background-color: $battle-field-enemy-hitted;
    position: relative;
  }

  &__cell.battle-field_hitted:hover {
    background-color: $battle-field-enemy-hitted;
  }

  &__cell.battle-field_hitted::before, 
  &__cell.battle-field_hitted::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background: $battle-field-cross-color;
    top: 12px;
    left: 2px;
  }

  &__cell.battle-field_hitted::before {
    transform: rotate(45deg);
  }

  &__cell.battle-field_hitted::after {
    transform: rotate(-45deg);
  }

  &__cell.battle-field_failed {
    background-color: $battle-field-enemy-failed;
  }

  &__generate-btn,
  &__generate-own,
  &__start-game {
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    left: 22.5%;
  }

  &__generate-btn {
    top: 25%;
  }

  &__start-game {
    background-color: green;
    top: 25%;
  }

  &__start-game.battle-field_game-is-active,
  &__generate-btn.battle-field_game-is-active,
  &__generate-own.battle-field_game-is-active {
    display: none;
  }


  &__generate-btn.battle-field_layout-is-active,
  &__generate-own.battle-field_layout-is-active {
    position: relative;
  }

  &__generate-own {
    top: 35%;
  }

  &__generate-own.battle-field_layout-is-active {
    top: 20px;
  }

  &__generate-btn.battle-field_layout-is-active {
    top: 5px;
  }

  &__ship {
    background-color: $battle-field-border-color;
  }

  &__stop-btn {
    width: 200px;
    position: relative;
    top: 35px;
    left: 22.5%;
    cursor: pointer;
    border-radius: 4px;
  }

  &__stop-btn.battle-field_game-is-active {
    display: none;
  }

  &__hit {
    text-align: center;
    margin-top: 5px;
    display: none;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(107, 12, 12);
  }

  &__hit.battle-field__hit_gamer-turn{
    display: inline;
  }

  &__curtain {
    position: relative;
  }

  &__curtain.battle-field__cirtain_is-visible {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 320px;
    background-color: lightgrey;
  }
}