mixin battle-field({ isEnemy,columns } = {})
  - const enemyClassName = isEnemy ? 'battle-field_enemy js-battle-field_enemy' : 'js-droppable'
  - let counter = 0
  .battle-field.js-battle-field(class=enemyClassName)
    .battle-field__curtain.js-battle-field__curtain 
    .battle-field__columns
      each val,index in columns
        span=val
    .battle-field__wrapper
      .battle-field__rows
        each val, index in columns
          span=(index+1)
      .battle-field__game
        each val,rowIndex in columns
          .battle-field__row
            each val,index in columns
              .battle-field__cell.js-battle-field__cell(class=enemyClassName data-column=(index) data-row=(rowIndex) data-id=(counter++))        
    if !isEnemy
      button.battle-field__generate-btn.js-battle-field__generate-btn Сгенерировать расстановку
      button.battle-field__generate-own.js-battle-field__generate-own Расставить самостоятельно
      button.battle-field__stop-btn.battle-field_game-is-active.js-battle-field__stop-btn Стоп игра
    else 
      button.battle-field__start-game.js-battle-field__start-game.battle-field_game-is-active Играть
      span.battle-field__hit.js-battle-field__hit Стреляй!