.footer {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  background-color: $block-color;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;

  &__link {
    color: $battle-field-border-color;
  }
}