include ../ship/ship.pug

section.ship-field.js-ship-field
  h2 Ваши корабли
  .ship-field__line
    +ship({size:4, isVertical: false})
  .ship-field__line
    +ship({size:3, isVertical: false})
    +ship({size:3, isVertical: false})
  .ship-field__line
    +ship({size:2, isVertical: false})
    +ship({size:2, isVertical: false})
    +ship({size:2, isVertical: false})
  .ship-field__line
    +ship({size:1})
    +ship({size:1})
    +ship({size:1})
    +ship({size:1})
  
