include ../ship/ship.pug

.ship-field.js-ship-field
  +ship({size:1})
  +ship({size:1})
  +ship({size:1})
  +ship({size:1})
  +ship({size:2})
  +ship({size:2})
  +ship({size:2})
  +ship({size:3})
  +ship({size:3})
  +ship({size:4})
